<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>CSV Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
  body {
      font-family: 'Arial', sans-serif;
      background-color: #c7cf93c0;
      color: #060607;
  }

  h1 {
      color: #0040ff; /* Bootstrap primary color */
      text-align: center;
  }

  table {
      width: 100%;
      margin-bottom: 2rem;
      color: #040505;
  }

  th, td {
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid #dee2e6dc;
  }

  a {
      color: #002fffe2;
      text-decoration: none;
  }

  .upload-btn{
   margin-left: 32%;
   padding: 11px 80px;
   background-color: #0040ff;
  font-weight: 600;


  }

  a:hover {
      text-decoration: underline;
  }

  .container {
      margin-top: 50px;
      margin-bottom: 50px;
  }

  /* Add more styles as needed */
</style>

<body>

    <!-- home.ejs -->

<h1>Uploaded Files</h1>

<table>
    <thead>
      <tr>
        <th>Filename</th>
        <th> </th>
        <th> </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% files.forEach(function(file) { %>
        <tr>
          <td><%= file.filename %></td>
          <td> </td>
          <td> </td>
          <td>
            <a href="/csv/<%= file._id %>">View</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  



    <div class="container mt-5">
        <h1 class="text-center mb-4">CSV Upload</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="csvFile">Select a CSV file to upload:</label>
                        <input type="file" class="form-control-file choose-btn" id="csvFile" name="csv" accept=".csv">
                    </div>
                    <button type="submit" class="btn btn-primary upload-btn">Upload</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
